{% extends 'inner-page.html' %}
{% load humanize %}
{% block content %}

<div class="container">
    <div class="row">
        {% for estacionamiento in estacionamientos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ estacionamiento.user.perfil.image.url }}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'perfil' estacionamiento.user.username %}">#{{ estacionamiento.user.username }}</a></h4>
                        <i class="clock"></i>
                        <time data-time="#">{{ estacionamiento.timestamp|naturaltime }}</time>
                        <div class="card-text">{{ estacionamiento.content }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</div>

{% endblock %}